.home_class {
    height: 1225px;
}

@media (min-width: 1407px) {
    .nuestro-equipo {
        height: 685px;
    }
    .tecnologias h2 {
        padding-top: 77px;
    }
    .nuestro-equipo h2 {
        padding-top: 77px;
    }
}